/*estilos globales*/
body{
	font: 12px;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;	
	width: 100%;
}
.contenedor{
	width: 100%;
	margin: auto;
	overflow: hidden;
}
header{
	margin:auto;
	background-color: #005883;
	padding: 0px;
	min-height: 1px;
	width: 100%;
	position: fixed;
	top:0;
	left: 0;
	z-index: 100;
	height: 10px;	
}
figure{
	width: 100%;
	margin: auto;
	padding-left: 0px;
	min-height: 1px;
	top:0;
	left: 0;
	z-index: 100;
}

section{
	width: 100%;
	padding-left: 1px;
	min-height: 1px;
	top:0;
	left: 0;
	z-index: 100;
}
aside{
	width: 100%;
	padding-left: 1px;
	min-height: 1px;
	top:0;
	left: 0;
	z-index: 100;
}
	a{
		color:  #005883;
}
footer{
	width: 100%;
	padding-left: 1px;
	min-height: 1px;
	top:0;
	left: 0;
	z-index: 100;
}

nav{
	width: 100%;
}

/*Encabezado*/
header #marca{
	position: relative;
	background-color: #005883;
	padding: 1px;
	min-height: 30px;
}
header #marca h1{
	padding: 1px;
	margin: auto;
	text-align: center;
	color: #f4f4f4;
	font-size: 21px;
}
header .resaltado, .actual a{
	color: #F0B429;
	font-weight: bold;
}





/*Buscador*/
.header-top{
	width: 100%;
	background: #b3b3b3;
	margin: 0%;
}
.navegacion{
	width: 90%;
	height: 1px;
	max-width: 1000px;
	margin: auto;
	padding:20px 0;
}
input[type="search"]{
	background: #B3B3B3;
	color:  #005883;
	float: right;
	padding: 10px;
	padding-right: 50px;
	border: none;
	margin-top: -17px; 
	position: relative;
	margin-left:  250px;
}
#icon{
background: #B3B3B3;
}
.search{
	width: 90%;
	max-width: 1000px;
	margin: auto;
	background: #F0B429;
	padding:0 10px;
	padding-bottom: 5px;
	max-height: 85%;
	overflow-x: hidden;
	display: none;
}
.search-table{
	width: 100%;
}
tbody tr td{
	width: 100%;
}
tbody tr td a{
	text-decoration: none;
	font-size: 18px;
	color: #f4f4f4;
	display: block;
	width: 100%;
	height: 100%;
	padding: 20px 0;
	padding-left: 20px;
	border: 2px solid #fff;
}
tbody tr td a:hover{
	border: 2px solid #F0B429;
}
.search::-webkit-scrollbar{ 
	background:rgba(0,0,0,0);  
}
.search::-webkit-scrollbar-button{
 	background:#C1C1C1;  
}
.search::-webkit-scrollbar-thumb{ 
	background:#C1C1C1; 
}
.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate{
	display: none;
}






/*menus*/
#logounad img{
	width: 243px;
	margin:auto;
	padding-left: 15px;
	padding-top: 100px;
	padding-bottom: 3px;
}
#menus ul{
	margin-top: 0;
	margin-bottom:0;
	margin-right:0;
	padding-top: 21px;
	padding-left: 0;
	
}
#menus li{
	text-align: center;
	display: inline;
	padding: 0 30px 0 30px;
}
#menus nav{
	text-align: center;
	margin-top: 0px;

}
#menus a{
	
	text-decoration: none;
	text-transform: uppercase;
	font-size: 19px;
}
#menus a:hover{
	font-size: 20px;
	background: #005883;
	color: #fff;
}
#menus a:focus{
	background: #005883;
	color: #fff;
}
#menus a:active{
	color:#f4f4f4;
	background: #F0B429;
	font-weight: bold;
}

.menu ul{

	display: flex;

}
.menu ul ul{
	display: none;
}
.menu a{
	display: block;
}

.menu ul li:hover ul{
	display: none;
	position: static;

}

#general .lista .menu .submenu .sub.sub a{
	padding-left: 12px;
	font-size: 10px;
	text-align: left;

}

#general .lista .menu .submenu .sub a:hover{
	font-size: 11.9px;
	background: #005883;
	color: #fff;
	padding-left: 0px;

}
#general .lista .menu .submenu .sub a:focus{
	background: #005883;
	color: #fff;
}
#general .lista .menu .submenu .sub a:active{
	color:#f4f4f4;
	background: #F0B429;
	font-weight: bold;
}





/*cabecera*/
#cabeceraimg .contenedor{
	height: 400px;
}
#cabeceratitulo h2{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 0px;
	font-size: 39px;
	color: #f4f4f4;
	background-color: #F0B429;
}
#cabeceraimg img{
	width: 100%;
	height: 600px;
	margin: auto;
}
#cabeceratitulo2 p{
	text-align: center;
	margin-top: 0px;
	font-size: 28px;
	font-weight: bold;
	color: #f4f4f4;
	background-color:#005883;
}





/*Cajas*/
/*cajas1*/
#cajas {
	margin:0;
}
#cajas .contenedor{
margin:0;
}
#cajas .caja{
	float: left;
	text-align: center;
	width: 25.7%;
	margin: 3.8%;
	padding-top: 15px;
	padding-left: 0;
	padding-bottom: 15px;
}
#cajas .caja img{
	width: 90px;
	height: 93.35px;
}
#cajas .caja h4{
	color: #005883;
	font-size: 14px;
}
#cajas .caja p{
	color: #005883;
}
#cajas .caja a{
	text-decoration: none;
}
/*cajas2*/
#cajas2 {
	margin-top: 80px;
	margin:0;
}
#cajas2 .contenedor{
margin:0;
}
#cajas2 .caja2{
	float: left;
	text-align: center;
	width: 25.7%;
	margin: 3.8%;
	padding-top: 15px;
	padding-left: 0;
	padding-bottom: 15px;
}
#cajas2 .caja2 img{
width: 90px;
height: 93.35px;
}
#cajas2 .caja2 h4{
	color: #005883;
	font-size: 14px;
}
#cajas2 .caja2 p{
	color: #005883;
}
#cajas2 .caja2 a{
	text-decoration: none;
}





/*widget para la red social Twitter*/
#twittertitulo{
	padding: 0px;
	background: #005883;
	height: 30px;
	text-align: center;
}
	
#twittertitulo h5{
color: #f4f4f4;	
font-size: 25px;
margin-top: 10px; 
margin-bottom: 5px;
}

div#widget{
	margin: 0.5em auto;
	width: 100%;
	padding: 0;
	background: #f4f4f4;
	text-align: center;
	
}

#logotwitter,#twitterunad,#seguirunad{/*aside*/
	background: #f4f4f4;
	border-radius: 0.5em;
	display: inline-block;	
	margin-top: 0.2em auto;
	max-width: 960px;
	vertical-align: top;
	width: 45%;
}

#logotwitter {
	margin-top: 186px;
	width: 98px;
	height:79px;
}


#logotwitter img{
	
	width: 98px;
	height:79px;
}

#seguirunad{
	margin-top: 186px;
	width: 98px;
	height:30px;
}





/*contador*/
#contadores{
	padding: 0px;
	background: #005883;
	height: 30px;
}
#contadores .contador {
height: 30px;
}
#contadores .contador h3{
text-align: center;
margin-top: 1px;
color: #f4f4f4;
font-size: 25px;}
#contadores1{
	padding: 0px;
	background: #F0B429;
	height: 40px;
}
#contadores1 .contador1 {
height: 40px;
}
#contadores1 .contador1 img{
margin: auto;
display: block;
padding: 0px;
height: 40px;
margin-top: 1px;
}





/*Footer (Pie de Pagina)*/
#piedepagina{
	background-color: black;
}
#piedepagina nav{
	text-align: center;
	margin-top: 0px;
	padding-left: 1px;
	border-top: 1px solid #333;
}
#piedepagina ul{
	margin: 0;
	padding: 0;
	text-align: center;
}
#piedepagina li{
	text-align: center;
	display: inline;
	padding-left: 0px;
	padding-right:0px;
	margin-left: 0px;
}
#piedepagina a{
	color: #f4f4f4;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
}
.pie3 #UNAD{
	width: 276px;
	height: 96px;
}
#piedepagina .contenedor .pie3 nav #UNAD{
	text-align: center;
	margin-top: 0px;
	padding-right: 50px;
}
#piedepagina .contenedor .pie3 nav #logopagina{
	text-align: center;
	margin-top: 0px;
	padding-left: 50px;
}




/*____________________________________________________________________*/
/*____________________________________________________________________*/
/*____________________________________________________________________*/
/*____________________________________________________________________*/


/*Responsive boton Menu*/
@media (max-width: 973px) {

#boton label{
	margin-top: 35px;
	font-size: 40px;
	cursor:pointer;
	display: block;
}

#btn-menu{
	display: none;

}
.menu a span{
	margin-left: 2px;
}


#boton label{
	display: block;

}
.menu {
	position: absolute;
	top: 40px;
	left:0;
	width: 100%;
	transform: translateY(-400%);
	transition: all 0.3s;
}

.menu ul{
	display: block;	
	background: #808080;
	width: 40%;
	margin-left: 30%;
}

.menu ul li:hover ul{

}

#btn-menu:checked ~ .menu{
	transform: translateY(-0%);
	position: relative;
}
	section {
	padding-left: 0px;
}

.menu ul ul{
	background: #333333;
	width: 100%;
	margin-left: 0%;
}

#general .lista .menu .submenu .sub.sub a{
	padding-left: 30%;
	margin-right: 2%;
	font-size: 20px;
	text-align: left;

}

#menus{
	color:#005883;
}

#menus:hover{

	color: #F0B429;
}

#menus:active{
	color:#F47920;
}

.menu a span{
	margin-left: 12px;
}


}






/*Responsive para equipos movil*/
@media (min-width: 974px) {

#boton label{
	margin-top: 35px;
	font-size: 40px;
	cursor:pointer;
	display: none;
}
#btn-menu{
	display: none;
}
.menu a span{
	margin-left: 2px;
}
#menus a {
    
    font-size: 13px;
}
#menus a:hover {
    font-size: 14px;
}
#general .lista .menu .submenu .sub.sub a {
    
    font-size: 9.5px;
}

#general .lista .menu .submenu .sub.sub a:hover {
    
    font-size: 11px;
}
#general .lista .menu .submenu .sub.sub{
    
    background: #808080;
}


}





/*Responsive para equipos portatil*/

@media (min-width: 1049px) {

/*boton menus*/
#boton label{
	margin-top: 35px;
	font-size: 40px;
	cursor:pointer;
	display: none;
}
#btn-menu{
	display: none;
}
.menu a span{
	margin-left: 2px;
}

#menus nav{
	width: auto;
	margin-left: 9%;

}
#menus a {
    
    font-size: 12px;
}
#menus a:hover {
    font-size: 14px;

}
#general .lista .menu .submenu .sub.sub a {
    
    font-size: 9.5px;
}

#general .lista .menu .submenu .sub.sub a:hover {
    
    font-size: 11px;
}
#general .lista .menu .submenu .sub.sub{
    
    background: #808080;
}

}





/*Responsive para PC de Escritorio*/
@media (min-width: 1470px) {

#menus nav{
	width: auto;
	margin-left: 10%;
}

.menu a span{
	margin-left: 12px;
}

#menus a {
    
    font-size: 20px;
}

#menus a:hover {
    font-size: 22px;

}

#general .lista .menu .submenu .sub.sub a {
    
    font-size: 15px;
}

#general .lista .menu .submenu .sub.sub a:hover {
    
    font-size: 16px;
}

#general .lista .menu .submenu .sub.sub{
    
    background: #808080;
}