
.icon-objetivos:before { content: '\e800'; } /* '' */
.icon-inicio:before { content: '\e801'; } /* '' */
.icon-autores:before { content: '\e802'; } /* '' */
.icon-actividades:before { content: '\e805'; } /* '' */
.icon-referencias:before { content: '\e823'; } /* '' */
.icon-multimedia:before { content: '\f16a'; } /* '' */