/*estilos globales*/
body{
	font: 12px;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;	
	width: 100%;
}
.contenedor{
	width: 100%;
	margin: auto;
	overflow: hidden;
}
header{
	margin:auto;
	background-color: #005883;
	padding: 0px;
	min-height: 1px;
	width: 100%;
	position: fixed;
	top:0;
	left: 0;
	z-index: 100;
	height: 10px;	
}
figure{
	width: 100%;
	margin: auto;
	padding-left: 0px;
	min-height: 1px;
	top:0;
	left: 0;
	z-index: 100;
}
section{
	width: 100%;
	padding-left: 1px;
	min-height: 1px;
	top:0;
	left: 0;
	}
aside{
	width: 100%;
	padding-left: 1px;
	min-height: 1px;
	top:0;
	left: 0;
	z-index: 100;
}
	a{
		color:  #005883;
}
footer{
	width: 100%;
	padding-left: 1px;
	min-height: 1px;
	top:0;
	left: 0;
	z-index: 100;
}

nav{
	width: 100%;
}

/*Encabezado*/
header #marca{
	position: relative;
	background-color: #005883;
	padding: 1px;
	min-height: 30px;
}
header #marca h1{
	padding: 1px;
	margin: auto;
	text-align: center;
	color: #f4f4f4;
	font-size: 21px;
}
header .resaltado, .actual a{
	color: #F0B429;
	font-weight: bold;
}



/*Buscador*/
.header-top{
	width: 100%;
	background: #b3b3b3;
	margin: 0%;
}
.navegacion{
	width: 90%;
	height: 1px;
	max-width: 1000px;
	margin: auto;
	padding:20px 0;
}
input[type="search"]{
	background: #B3B3B3;
	color:  #005883;
	float: right;
	padding: 10px;
	padding-right: 50px;
	border: none;
	margin-top: -17px; 
	position: relative;
	margin-left:  250px;
}
#icon{
background: #B3B3B3;
}
.search{
	width: 84%;
	height: 586px;
	max-width: 1000px;
	margin: auto;
	background: #F0B429;
	padding:0 10px;
	padding-bottom: 5px;
	max-height: 85%;
	overflow-x: hidden;
	display: none;
}
.search-table{
	width: 100%;
}

tbody tr td{
	width: 100%;
}
tbody tr td a{
	text-decoration: none;
	font-size: 18px;
	color: #f4f4f4;
	display: block;
	width: 93%;
	height: 100%;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 0px;
	padding-bottom: 10px;
	border: 2px solid #fff;
}
tbody tr td a:hover{
	border: 2px solid #F0B429;
}
.search::-webkit-scrollbar{ 
	background:rgba(0,0,0,0);  
}
.search::-webkit-scrollbar-button{
 	background:#C1C1C1;  
}
.search::-webkit-scrollbar-thumb{ 
	background:#C1C1C1; 
}
.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate{
	display: none;
}



/*Seccion Logo Unad*/
section #logounad{
	width: 100%;
	height: 144px;
	background-color: #f4f4f4;
	padding-left: 0px;
	position: fixed;
}


#logounad img{
	
	width: 135px;
	height: 36.5px;
	margin left: :auto;
	margin-right: auto;		
	padding-left: 0px;
	padding-top: 1px;
	padding-bottom: 3px;
	position: fixed;
	bottom: 0;
	top: 0;
	margin-top: 99px;
	margin-bottom:0px;

}



/*menus y cajas*/
section#principal{
	background-color: #f4f4f4;	
	border-radius: 0.5em;
	display: inline-block;	
	max-width: 950px;
	min-height: 632px;
	vertical-align: top;
	width: 25%;
	height: 590px;
	margin-top: 151px;
	margin-left: 1%;
	margin-right: 1%;
	position: fixed;
	overflow: auto;
}
nav#general{
	background:#f4f4f4;
	border-radius: 0.5em;
	min-height: 100px; 
	padding: 0.25em;
	width: 80%;
	margin-bottom: 10px;
	border-top-width: 2px;
	border-top-style: solid;
	border-right-width: 2px;
	border-right-style: solid;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-left-width: 2px;
	border-left-style: solid;
	border-color: #005883;
	
}
nav#cajas{
	background:#f4f4f4;
	border-radius: 0.5em;
	
	padding: 0.25em;
	margin-top: 17px;
	width: 80%;
	height: 400px;


	float: left;
	text-align: center;
	
	margin-bottom:  3.8%;
	padding-top: 0.25em;
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-bottom: 0.25em;
	border-top-width: 2px;
	border-top-style: solid;
	border-right-width: 2px;
	border-right-style: solid;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-left-width: 2px;
	border-left-style: solid;
	border-color: #005883;
}
nav#overflow{
	background:#f4f4f4;
	width: 80%;
	height: 125px;
	float: left;	
	margin-bottom:3.8%;
}
section#menus {
width: 100%;
margin-top: 150px;
}
#menus nav{
	text-align: left;
	margin-top: 0px;
}
#menus ul{
	margin: 0;
	padding-top: 7px;
	padding-left: 0;
}
#menus li{
	text-align: left;
	display: block;
	padding-bottom: 10px;
}
#menus a{	
	text-decoration: none;
	text-transform: uppercase;
	font-size: 10px;

}









.menu ul ul{
	display: none;
}
.menu a{
	display: block;
}

.menu ul li:hover ul{
	display: none;
	position: static;

}

#general .lista .menu .submenu .sub.sub a{
	padding-left: 12px;
	font-size: 10px;

}

#general .lista .menu .submenu .sub a:hover{
	font-size: 11.9px;
	background: #005883;
	color: #fff;
	padding-left: 0px;

}
#general .lista .menu .submenu .sub a:focus{
	background: #005883;
	color: #fff;
}
#general .lista .menu .submenu .sub a:active{
	color:#f4f4f4;
	background: #F0B429;
	font-weight: 20px;
}























nav #general{
		width: 10%;
		height: auto;
}
#general a:hover{
	font-size: 11px;
	background: #005883;
	color: #fff;
}
#general a:focus{
	background: #005883;
	color: #fff;
}
#general a:active{
	color:#f4f4f4;
	background: #F0B429;
	font-weight: 20px;
}


/*cajas*/
#cajas ul{
	margin: 0;
	padding-top: 21px;
	padding-left: 0;
}
#cajas li{
	text-align: center;
	display: block;
	padding-bottom: 15px;
}
#cajas li img{
	width: 22.5px;
	height:23px;
}
#cajas a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
}
#cajas h2{
	text-align: center;
	font-size: 8px;
}
#cajas a:hover{
	font-size: 10px;
	background: #005883;
	color:  #005883;
}
#cajas a:focus{
	background: #005883;
	color:  #005883;
}
#cajas a:active{
	color:#F0B429;
	background: #F0B429;
	font-weight: 20;
}




/*seccion Contenido*/
section#contenido{
	background-color: #f4f4f4;
	border-radius: 0.5em;
	display: inline-block;
	max-width: 2000px;
	min-height: 860px;
	vertical-align: top;
	margin-right: 1%;
	margin-left: 30%;
	width: 67%;
	height: 860px;
}
#cabecera img{
	width: 99%;
	height: 70px;
	margin: auto;
	border-radius: 0.5em;
}

main {
width: 93%;
border-left-width: 2px;
border-left-style: solid;
border-right-width: 2px;
border-right-style: solid;
padding-left: 12px;
padding-right: 12px;
margin-right: 0px;
margin-left: 0px;
color: #B3B3B3;
}






#informaciones .tilinfo h3{
	border-bottom-width: 2px;
	border-bottom-style: solid;
	padding-top: 80px;
	padding-bottom: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
	color:#005883;
}
#informaciones .informacion p{
	border-bottom-width: 2px;
	border-bottom-style: solid;
	padding-top: 18px;
	padding-bottom: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
	color:#005883;

}
#informaciones .informacion h4{
	color:#005883;

}
#informaciones .informacion h5{
	color:#005883;

}
#informaciones .informacionfinal p{
	color:#005883;
	margin-bottom: 32px;

}
#informaciones .informacionfinal h4{
	color:#005883;
}
#informaciones .informacionfinal h5{
	color:#005883;

}

#referencias .tema a{
	text-transform: lowercase;
}



/*Pagina Referencias bibliograficas*/

#referencias .tilref h3{
	border-bottom-width: 2px;
	border-bottom-style: solid;
	padding-top: 80px;
	padding-bottom: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
	color:#005883;
}
#referencias .tema h4{
	font-size: 16px;
	}

#referencias .tema h6{
	font-size: 16px;
	border-top-width: 2px;
	border-top-style: solid;
	padding-top: 40px;
	padding-bottom: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
	color:#005883;
}


#referencias .tema p{
	padding-top: 18px;
	padding-bottom: 18px;
	margin-top: 0px;
	margin-bottom: 32px;
	color:#005883;

	

}
#referencias .tema h4{
	color:#005883;

}
#referencias .tema h5{
	color:#005883;

}
/*Fin Pagina Referencias bibliograficas*/



/* Pagina autores*/

#autores{
	height: 510px;
}

#autores .tilaut h3{
	border-bottom-width: 2px;
	border-bottom-style: solid;
	padding-top: 20px;
	padding-bottom: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
	color:#005883;
	font-size: 16px;
}


#autores .informacion p{
	
	margin-bottom: 2px;
	margin-top: 2px;
	color:#005883;
	font-size: 13px;
	text-align: center;
}
#autores .informacion a{
	text-transform: lowercase;
	margin-bottom: 2px;
	margin-top: 2px;
	color:#005883;
	font-size: 13px;
	border-bottom: 2px solid #005883;
}
#autores .informacion a:hover{
font-size: 13px;
	background: #005883;
	color: #fff;

}
#autores .informacion img{
	width: 105px;
	height: 121.683px;
	margin-top: 10%;
	margin-bottom: #f4f4f4 solid; 
}
/*Fin Pagina autores*/




iframe{
	padding-top: 5px;
	width:99%; 
	height: 200px;
	border-radius: 0.5em;
	margin: auto;
}
 .informacion1 iframe{
	height: 830px;
}



/*Footer (Pie de Pagina)*/
#piedepagina{
	background-color: black;
	width: 99%;
	
}
#piedepagina nav{
	text-align: center;
	margin-top: 0px;
	padding-left: 1px;
	border-top: 1px solid #333;
}
#piedepagina ul{
	margin: 0;
	padding: 0;
	text-align: center;
}
#piedepagina li{
	text-align: center;
	display: inline;
	padding-left: 0px;
	padding-right:0px;
	margin-left: 0px;
}
#piedepagina a{
	color: #f4f4f4;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
}
.pie3 #UNAD{
	width: 270px;
	height: 90px;
	padding-left: 10px;
}
#piedepagina .contenedor .pie3 nav #UNAD{
	text-align: center;
	margin-top: 0px;
	
}
#piedepagina .contenedor .pie3 nav #logopagina{
	text-align: center;
	margin-top: 0px;
	padding-left: 50px;
}


/*________________________________________________________*/
/*________________________________________________________*/
/*________________________________________________________*/
/*________________________________________________________*/

@media (min-width: 720px) {
#logounad img{	
	position: fixed;	
	padding-left: 10px;
	width: 202px;
	height: 54px;
	padding-left: 20px;	
	bottom: 0;
	top: 0;
	margin-top: 90px;
	margin-bottom:0px;
}

#menus a{
	font-size: 18px;
	padding-top: 30px;
}
section #principal{
	width: 240px;
	height: 90px;
	margin-left: 30px;
}
nav#general{	
	width: 83%;
	height: auto;
	margin-top: 20px;
	margin-bottom: 50px;

}
#menus a:hover{	
	
	font-size: 19px;
}
#general .lista .menu .submenu .sub.sub a{
	
	font-size: 17px;

}
#general .lista .menu .submenu .sub a:hover{
	font-size: 18px;

}

nav#cajas{	
	width: 83%;
	height: auto;
	

}
#cajas li img {
    width: 50px;
    height: 53px;

}


#cajas h2{	
	text-align: center;
	font-size: 18px;
}
 .informacion1 iframe{
	height: 830px;
	
}
#cabecera img{
	width: 75%;
	height: 100px;
	margin: auto;
	border-radius: 0.5em;
	padding-left: 81px;

}
main {
width: 69%;
margin-right: 61px;
margin-left: 81px;



}
#piedepagina{
	width: 75%;
	margin-left: 81px ;
}
}



/*Responsive para equipos portatil*/

@media (min-width: 1049px) {

	nav#general{	
	width: 80%;
	height: auto;
	margin-top: 15px;
	margin-bottom: 20px;


}

#logounad img{
	position: fixed;
	width: 227px;
	height: 65.575px;
	bottom: 0;
	top: 0;
	margin-top: 90px;
	margin-bottom:0px;
}
section #principal{
		width: 13%;
		height: 64%;		
		margin-left: 12px;
		margin-top: 160px;
		padding-left: 22px;
		min-height: 450px;
		overflow: auto;	
}

#menus ul{
	padding-top: 15px;
}
#menus li{
	padding-bottom: 20px;
}
#menus a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
}
nav#cajas{	
	width: 80%;
	height: 645px;
}

#cajas li img{
	width: 40.9px;
	height:41.8px;
}
#cajas h2{	
	text-align: center;
	font-size: 15px;
}
section#contenido{
	background-color: #f4f4f4;
	border-radius: 0.5em;
	display: inline-block;
	max-width: 2000px;
	min-height: 860px;
	vertical-align: top;
	margin-top: 12px;
	margin-right: 1%;
	margin-left: 17%;
	width: 82%;
	height: 860px;
}

iframe{
	width:99%; 
	height: 475px;
	border-radius: 0.5em;
	margin: auto;
}
embed{
	width:99%; 
	height: 475px;
	border-radius: 0.5em;
	margin: auto;
}

.informacion1 iframe{
	height: 700px;
	
}

#menus a{	
	
	font-size: 14px;
	padding-top: 0px;
}
#menus a:hover{	
	
	font-size: 15px;
}
#general .lista .menu .submenu .sub.sub a{
	
	font-size: 10px;

}
#general .lista .menu .submenu .sub a:hover{
	font-size: 11px;
	
	
}
#cabecera img{
	width: 90%;
	height: 140px;
	margin: auto;
	border-radius: 0.5em;
	padding-left: 70px;
}

main {
width: 85%;
margin-right: 61px;
margin-left: 78px;

}



#informaciones .tilinfo h3{
	font-size: 25px;

}
#informaciones .informacion h4{
	font-size: 25px;

}
#informaciones .informacion h5{
	font-size: 18px;

}
#informaciones .informacion p{
	font-size: 20px;
}

#informaciones .informacionfinal h4{
	font-size: 25px;

}
#informaciones .informacionfinal h5{
	font-size: 18px;

}
#informaciones .informacionfinal p{
	font-size: 20px;
}

/*Pagina Referencias bibliograficas*/
#referencias .tilref h3{
	font-size: 25px;
}
#referencias .tema h4{
	font-size: 25px;

}
#referencias .tema h6{
	font-size: 25px;

}
#referencias .tema h5{
	font-size: 18px;

}
#referencias .tema p{
	font-size: 20px;
}
/*Fin Pagina Referencias bibliograficas*/


/* Pagina Autores*/

#autores{
	height: 350px;
}
#autores .tilaut h3{
	font-size: 25px;
}
#autores .informacion p{
	margin-top: 15px;
	font-size: 20px;
	text-align: left;
}
#autores .informacion a{
	margin-top: 10px;
	font-size: 20px;
	text-align: left;
	border-bottom: 2px solid #005883;
}
#autores .informacion a:hover{
font-size: 20px;
	background: #005883;
	color: #fff;
}
#autores .informacion .correo{
	margin-left: 160px;
}
#autores .informacion img{
width: 170px;
height: 191.683px;
	float: left;
	margin-top: 2px;
	margin-right: 100px;
	margin-left: 150px;
	
}
.informacion{
	margin-top: 40px;
}
/*Fin Pagina Autores*/
#piedepagina{
	width: 90%;
	margin-left: 70px ;
}



}











/*Responsive para PC de Escritorio*/
@media (min-width: 1470px) {
#logounad img{
	position: fixed;
	height: 160px;	
	width: 202px;
	height: 54px;
	padding-left: 25px;
	bottom: 0;
	top: 0;
	margin-top: 90px;
	margin-bottom:0px;
}
section #principal{
		height: 83%;		
}
nav #cajas{
	width: 80%;
	height: 650px;

}
nav#general{
	min-height: 100px;
	height: auto;
	margin-top: 2px;
	margin-bottom: 30px;
}
#menus a{	
	
	font-size: 20px;
}
#menus a:hover{	
	
	font-size: 22px;
}
#general .lista .menu .submenu .sub.sub a{
	
	font-size: 15px;

}
#general .lista .menu .submenu .sub a:hover{
	font-size: 17px;
	
	
}
#cabecera img{
	width: 90%;
	height: 150px;
	margin: auto;
	border-radius: 0.5em;
	padding-left: 70px;
}
main {
width: 86%;


}
/*estilos globales*/
body{
	font: 12px;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;	
	width: 100%;
}
.contenedor{
	width: 100%;
	margin: auto;
	overflow: hidden;
}
header{
	margin:auto;
	background-color: #005883;
	padding: 0px;
	min-height: 1px;
	width: 100%;
	position: fixed;
	top:0;
	left: 0;
	z-index: 100;
	height: 10px;	
}
figure{
	width: 100%;
	margin: auto;
	padding-left: 0px;
	min-height: 1px;
	top:0;
	left: 0;
	z-index: 100;
}
section{
	width: 100%;
	padding-left: 1px;
	min-height: 1px;
	top:0;
	left: 0;
	}
aside{
	width: 100%;
	padding-left: 1px;
	min-height: 1px;
	top:0;
	left: 0;
	z-index: 100;
}
	a{
		color:  #005883;
}
footer{
	width: 100%;
	padding-left: 1px;
	min-height: 1px;
	top:0;
	left: 0;
	z-index: 100;
}

nav{
	width: 100%;
}
#informaciones .tilinfo h3{
	font-size: 30px;

}

#informaciones .informacion h4{
	font-size: 30px;
}
#informaciones .informacion h5{
	font-size: 26px;
}
#informaciones .informacion p{
	font-size: 25px;
}
#informaciones .informacionfinal h4{
	font-size: 30px;
}
#informaciones .informacionfinal h5{
	font-size: 26px;
}
#informaciones .informacionfinal p{
	font-size: 25px;
}
.informacion1 iframe{
	height: 550px;
}

/*Pagina Referencias bibliograficas*/
#referencias .tilref h3{
	font-size: 30px;
}
#referencias .tema h4{
	font-size: 30px;

}
#referencias .tema h6{
	font-size: 30px;

}
#referencias .tema h5{
	font-size: 26px;

}
#referencias .tema p{
	font-size: 25px;
}
/*Fin Pagina Referencias bibliograficas*/
#autores{
	height: 600px;
}
#autores .tilaut h3{
	font-size: 30px;
}
#autores .informacion p{
	margin-top: 15px;
	font-size: 25px;
	text-align: left;
}
#autores .informacion a{
	margin-top: 10px;
	font-size: 25px;
	text-align: left;
	border-bottom: 2px solid #005883;
}
#autores .informacion a:hover{
font-size: 25px;
	background: #005883;
	color: #fff;
}
#autores .informacion .correo{
	margin-left: 200px;
	
}
#autores .informacion img{
width: 218px;
height: 261.683px;
	float: left;
	margin-top: 2px;
	margin-right: 100px;
	margin-left: 250px;
}
.informacion{
	margin-top: 120px;
}
/*Fin Pagina Autores*/

}

}




